html{
  scroll-behavior: smooth;
}

body{
  overflow:visible;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}
/*Navbar and Header*/

nav {
  top: 0%;
  width: 100%;
  position: relative;
}
.container {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  padding: 10px;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.container ul li a:hover {
  color: #fc0;
  transition: all 0.3s ease-out;
}

.container ul li a {
  margin: 8px;
  padding: 10px;
  color: black;
  font-size: 1em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  bottom: 0%;
  width: 100%;
  position: relative;
  font-family: "Merriweather", serif;
}

/*Me Page*/
.myself{
  /* background-color: yellowgreen; */
  margin: 5% 0;
}
.myself #me{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  margin: 0 5%;
  gap: 10%;
}

.myself .image{
  display: flex;
  align-items: center;
  margin-left: 5%;
  max-width: 50vh;
  height: 60vh;
  /* background-color: #fc0; */
}

.myself .image img{
  border-radius: 20%;
  max-width: 40vh;
  height: auto;
  border: 2px solid black;
  box-shadow: 10px 10px 3px #fc0;
}

.myself .text{
  display: flex;
  text-align: left;
  font-family: "Merriweather", serif;
  /* background-color: pink; */
}

.myself .text p{
  /* background-color: red; */
  height: auto;
  font-size: 1rem;
  margin: 0 10%;
}

#phomtu{
  color:rgb(226, 141, 43);
  transition: all 0.3s ease-out;
}

#phomtu:hover{
  color: cadetblue;
  cursor: pointer;
}

@media only screen and (max-width: 640px){
  .myself #me{
    flex-direction: column;
  }
  .myself #me .image{
    margin: 5% 0;
  }
  .myself #me .image img {
    max-width: 35vh;
    height: auto;
  }
  .myself .text p{
    margin: 5% 0;
    font-size: 0.9rem;
  }
  .myself .text{
    text-align: center;
  }
}

/*Projects*/
.projects{
  background-color: rgb(194, 180, 139);
  padding-top: 3%;
  padding-bottom: 7%;
}

.writtings{
  text-align: center;
  font-family: 'Playfair Display', serif;
  transition: all 0.3s ease-out;
  font-size:x-large;
}

.writtings p{
  color: white;
  margin-top: -2%;
  font-weight: 200;
}

.writtings img{
  width: 70%;
  height: auto;
  border-radius: 120px 20px 120px 20px;
  transition: all 0.5s ease;
  box-shadow: 5px 5px 5px rgb(79, 255, 3);
}

.writtings img:hover{
  border-radius: 20px 120px 20px 120px;
  cursor: pointer;
  box-shadow: -5px -5px 5px rgb(72, 7, 158);
}

@media screen and (max-width: 800px){
  .writtings img{
    width: 70%;
    height: auto;
    border-radius: 80px 20px 80px 20px;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 5px rgb(79, 255, 3);
  }

  .writtings img:hover{
    border-radius: 20px 80px 20px 80px;
    cursor: pointer;
    box-shadow: -5px -5px 5px rgb(72, 7, 158);
  }
}
/*Events*/
.row{
  font-family: 'Playfair Display', serif;
  font-size: x-large;
  text-align: center;
  margin-top: 5%;
}
.column1, .column2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5%;
}

.column1 img, .column2 img {
  width: 50%;
  margin: 2%;
  border-radius: 25px;
  box-shadow: 0px -5px #fc0;
  transition: all 0.3s ease-out;
}

.column2{
  margin-bottom: -5%;
}

.column1 img:hover,.column2 img:hover{
  box-shadow: 10px -5px 5px #fc0;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column1, .column2 {
    flex-direction: column;
    margin: 5% 2%;
  }
  .column1 img, .column2 img {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .column1, .column2 {
    flex-direction: column;
    margin: 5% 2%;
  }
  .column1 img, .column2 img {
    width: 70%;
  }
}

/*Contact Section*/
.connect{
  background-color: rgb(205, 204, 204);
  margin-top: 10%;
}

#billi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 10%;
  border: black solid 5px;
  box-shadow: 10px 10px 10px aquamarine;
}

.socials {
  text-align: center;
}
.socials ul li {
  list-style: none;
  display: inline;
}

.icun{
  padding: 10px;
  width: 5%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.icun:hover{
  width: 6%;
  height: auto;
}